<div class="row">
    <div class="col-sm-12 p-4">
      <!-- Modal 2 -->
      <ng-template #contentProductos let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Creación Proyecto</h4>
          <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <app-sucursal-detalle></app-sucursal-detalle>
        </div>
      </ng-template>
      <button class="btn btn-primary-C text-white mt-2 roundedC2" (click)="open(contentProductos)">Crear
        Proyecto</button>
      <hr />
      <p-table [value]="sucursales" styleClass="p-datatable-striped table-hover"
        [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Unidad Solicitante</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Comercial</th>
            <th scope="col">F. Creación</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sucursal>
          <tr (click)="open(contentProductos)">
            <td scope="row">{{sucursal.scrCodigo}}</td>
            <td>{{sucursal.scrDescripcion}}</td>
            <td>{{sucursal.scrDireccion}}</td>
            <td>{{sucursal.scrIdentificacion}}</td>
            <td>{{sucursal.scrFechaCreacion}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
